@font-face {
    font-family: 'DomaineDisplay';
    src: url('fonts/DomaineDisplay-Regular.eot');
    src: url('fonts/DomaineDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/DomaineDisplay-Regular.woff') format('woff'),
        url('fonts/DomaineDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
