body{
	background-color: #F1F1F1;
}

/*NEUTRALIZERS*/
ul, li, h1, h2, p, a{
	padding: 0;
	margin: 0;
	text-decoration: none;
}

ul{
	list-style-type: none;
}

a:hover{
	cursor: pointer;
}
/*GRID*/
#wrapper-left{
	width: 14em;
	float: left;
	padding-top: 3em;
	padding-left: 4em;
	padding-right: 1em;
}

#wrapper-right{
	float:left;
	padding-top: 3em;
	padding-left: 5em;
	display: inline-block;
}

footer{
  position: absolute;
	width:100%;
	right: 0;
  bottom: 0;
  left: 24em;
  padding: 1rem;
}

/*FONT STYLES*/
.maple-reg{
	font-family: 'maple_regularregular';
	font-style: normal;
}

.pt16{
	font-size: 16pt;
	letter-spacing: .05pt;
}

/*regular leading*/
.lh22{
	line-height: 22pt;
}

/*extra leading*/
.lh25{
	line-height: 25pt;
}

/*extra kerning*/
.k1{
	letter-spacing: 1pt;
}

/*seperate blocks of text*/
.pad_6{
	padding-top: .6em;
}

.underline{
	color: black;
	text-decoration: none;
	border-bottom: 2px solid black;
	-webkit-transition: .5s;
	transition: .5s;
}

.underline:hover {
  border-color: white;
}

.invert_red, .glow_red{
	color: black;
	text-decoration: none;
	background-color: inherit;
	/*-webkit-transition: .5s;
	transition: .5s;*/
}
.invert_red:hover{
	color: white;
	background-color: #FF0000;
}
.glow_red:hover{
	color: white;
	text-shadow: 0 0 6px #FF0000;
}
/*SIDE NAVIGATION*/

/*TOP NAVIGATION*/
nav {
	overflow: hidden;
	width:100%;
}

nav h1{
	padding-left:.5em;
}

nav ul li {
float:left;
padding-right:4em;
}
