body{
	background-color: #F1F1F1;
	z-index:-2;
}

/*NEUTRALIZERS*/
ul, li, h1, h2, p, a{
	padding: 0;
	margin: 0;
	text-decoration: none;
}

ul{
	list-style-type: none;
}

/*A NICE GREEN*/
  /*background-color: #61ab20;*/

/*GRID*/
#wrapper-left{
	width: 14em;
	float: left;
	padding-top: 3em;
	padding-left: 4em;
	/* padding-right: 1em; */
}

#expanded-wrapper-left{
	float: left;
	padding-top: 3em;
	padding-left: 4em;
	/* padding-right: 1em; */
}
#wrapper-right{
	float:left;
	padding-top: 3em;
	padding-left: 7em;
	margin-right: 2em;
	display: inline-block;
}

main{
	float:left;
	/* margin-left:18.5em; */
	display:inline-block;
	/*width: 45em;*/
}

.about{
	margin-left:18.5em;
}
footer{
	clear:both;
	display:block;
  margin-left: 24.7em;
	padding-top: 10em;
}

.clear{
	clear:both;
}

.spacer{
	width: 14em;
	padding-top: 3em;
	padding-bottom: 3em;
}

.inline{
	display:inline-block;
}

/*seperate blocks of text*/
.pad_6{
	padding-top: .6em;
}

.break3{
	margin-top: 3em;
}

.margin-left1{
	margin-left:1em;
}

.pad-around2{
padding:.5em;
}

/*FONT STYLES*/
.maple-reg{
	font-family: 'maple_regularregular';
	font-style: normal;
}

.maple-bold{
	font-family: 'maple_regularbold';
	font-style:normal;
}

.domaine{
	font-family: "DomaineDisplay";
}

.pt10{
	font-size: 10pt;
}

.pt12{
	font-size: 12pt;
}

.pt16{
	font-size: 16pt;
	letter-spacing: .05pt;
}

.pt20{
	font-size: 20pt;
	letter-spacing: .05pt;
}

.pt22{
	font-size:22pt;
	letter-spacing:.05pt;
}

.pt25{
	font-size: 25pt;
	letter-spacing: .1pt;
}
/*regular leading*/
.lh22{
	line-height: 22pt;
}

/*extra leading*/
.lh25{
	line-height: 25pt;
}

.lh30{
	line-height: 35pt;
}
/*extra kerning*/
.k1{
	letter-spacing: 1pt;
}

.red{
	color:red;
}

/*link formatting and hover states*/
.underline{
	color: black;
	text-decoration: none;
	border-bottom: 2px solid black;
	-webkit-transition: .5s;
	transition: .5s;
}

.underline:hover {
  border-color: white;
}

.invert_red, .glow_red{
	color: black;
	text-decoration: none;
	background-color: inherit;
}

.invert_red:hover{
	color: white;
	background-color: #FF0000;
}
.glow_red:hover{
	color: white;
	text-shadow: 0 0 6px #FF0000;
}

.bullets{
	padding-left: 1em;
	list-style-type: circle;
}

.bounce {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.bounce h1 {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(75%);
 -webkit-transform:translateX(75%);
 transform:translateX(75%);
 /* Apply animation to this element */
 -moz-animation: bouncing-text 5s linear infinite alternate;
 -webkit-animation: bouncing-text 5s linear infinite alternate;
 animation: bouncing-text 5s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes bouncing-text {
 0%   { -moz-transform: translateX(50%); }
 100% { -moz-transform: translateX(-50%); }
}
@-webkit-keyframes bouncing-text {
 0%   { -webkit-transform: translateX(50%); }
 100% { -webkit-transform: translateX(-50%); }
}
@keyframes bouncing-text {
 0%   {
 -moz-transform: translateX(50%); /* Browser bug fix */
 -webkit-transform: translateX(50%); /* Browser bug fix */
 transform: translateX(50%);
 }
 100% {
 -moz-transform: translateX(-50%); /* Browser bug fix */
 -webkit-transform: translateX(-50%); /* Browser bug fix */
 transform: translateX(-50%);
 }
}








/*strike on hover.. for links that dont lead to urls*/
.strike{
	text-decoration: none;
}

.strike:hover{
	text-decoration: line-through;
}

.button{
	border: 2px solid red;
	color: red;
	-webkit-transition: .5s;
	transition: .5s;
}
.button:hover{
	color: white;
	background-color: #FF0000;
}

/*hover states for images behind text*/
/*add to image class*/
.hidden{
	display: none;
}

/*add to text or hover object class*/
.preview:hover .hidden{
	display: block;
	z-index: -1;
	width:10em;
	box-shadow: 0 0 10px grey;
}

/*for selfie sizing on name hover (about page)*/
.hover-image{
position:absolute;
left:2em;
top: 5.7em;
}

/*SIDE NAVIGATION*/

/*TOP NAVIGATION*/
nav {
	overflow: hidden;
	width:100%;
}

nav h1{
	padding-left:.5em;
}

nav ul li {
float:left;
padding-right:4em;
}

/*FOOTER NAVIGATION*/
footer ul li{
	float:left;
	padding-right:1em;
}

footer p{
	clear:both;
	padding-top: 1em;
}

/*HAND ANIMATION AT BOTTOM OF SCREEN (INDEX ONLY)*/
.w6{
	width: 6em;
}

.line{
	 width:70%; height:2px; background: #61ab20;
	 display:inline-block;
	 margin-bottom:2.6em;
}
