@font-face {
    font-family: 'suisse_intl_monobold';
    src: url('fonts/suisseintlmono-bold-webfont.woff2') format('woff2'),
         url('fonts/suisseintlmono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'suisse_intl_monoregular';
    src: url('fonts/suisseintlmono-regular-webfont.woff2') format('woff2'),
         url('fonts/suisseintlmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'suisse_intl_monothin';
    src: url('fonts/suisseintlmono-thin-webfont.woff2') format('woff2'),
         url('fonts/suisseintlmono-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
