
/*GRID SYSTEM*/
.page{
  margin-left: auto;
  margin-right:auto;
	margin-top:180px;
  width: 80%;
  display: block;
}
.right{
  float:right;
}
.left{
  float:left;
}
.center{
  margin-left:0;
  margin-right:0;
}
.margin-top-20{
  margin-top:20px;
}
.margin-top-30{
  margin-top:30px;
}
.margin-top-50{
  margin-top:50px;
}
.margin-bottom-20{
  margin-bottom:20px;
}
.white-boundary{
  background-color:white;
  padding: 20px;
  box-shadow: 0px 0px 2px 2px #a8a8a8;
  float:left;
  margin:10px;
  height:100%;
}
/*FEATURED ELEMENT STYLES*/
/*.feature-title{
  font-weight: bold;
  font-style: italic;
  font-size: 16pt;
}*/

.feature-title img{
  height:30px;
  margin-left:-20px;
}
.feature-designer img{
  width:180px;
  margin-right:-40px;
}
/*containers for each feature*/
.feature-container{
  margin-left:-20px;
  position:relative;
  margin-top:-140px;
}
.feature-banner{
  width:1200px;
}
/*OVERLAY*/
.image-overlay {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0088e3;
}

.feature-container:hover .overlay {
  opacity: .6;
}
.overlay-text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*//////////*/
/*.rotate-left {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}*/
/*.rotate-right{
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}*/

.section-title{
  font-family: 'GT America';
  font-weight: bold;
  font-size: 14pt;
}
.caption{
  font-size: 10pt;
  color:#a8a8a8;
  padding-top: 5px;
}
/*banners with special info/offers*/
.banner-img{
  position:relative;
  width:100px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-15px;

}
.banner h1{
  font-family: 'GT America';
  font-weight: bold;
  font-size: 20pt;
  text-align:center;
  cursor: pointer;
}
.banner h1:hover{
  font-weight:bold;
  font-style:italic;
}

/*image carousel*/
/*#slideshow {
  float:right;
  position: relative;
  width: 1000px;
}
#slideshow > div {
  position: absolute;
}*/
/*dye samples*/
.sample_color{
  height: 80px;
  width:100px;
  background-color:blue;
  margin-right: 8px;
}
/*COLORS*/
.orange{
  color: #ff751a;
}
/*INTERACTIVITY*/
/*fade image or color on hover*/
.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }
.fade:hover {
  opacity: 0.5;
  }
