@import 'font-face.css';
/* UNIVERSAL STYLES*/

body{
  background-color: #D1D1D1;
}

.centered-text{
  text-align: center;
}

.wrapper{
  margin-left: auto;
  margin-right: auto;
  width:200px;
}

.wrapper-text{
  margin-left: auto;
  margin-right: auto;
  width:60%;
}
@media(max-width:750px){
  .wrapper-text{
    width:80%;
  }
}

h1{
  font-family: 'Apercu-mono';
}

h2{
  font-family:'Apercu';
  font-size: 11pt;
  font-style: normal;
  font-weight: normal;
  background: #EFEFEF;
  padding:6px;
  margin-top:-14px;
}

a{
  font-family: 'Apercu';
  color: #C77174;
  text-decoration:none;
}

a:visited{
  color:#C77174;
}

p{
  font-family: 'Leitura';
  font-size: 1em;
  line-height: 30px;
}
.long-text{
  font-size: 16pt;
}



/*BACKGROUND*/

header{
	width:100%;
	right:0;
	top:0;
	height:120px;
	position: fixed;
	background: white;
  display:block;
}

.spacer_200{
  height:200px;
  width: 100%;
  background: none;
  display:inline-block;
}

.spacer_150{
  height:150px;
  width: 100%;
  background: none;
  display:inline-block;
}
.negative_spacer{
  margin-top: -10px;
  padding-bottom: 25px;
}
/*svg assets*/
.letter-closed{
  background-image: url(assets/letter_closed.svg);
}
.letter-open{
  background-image: url(assets/open_letter.svg);
}
.letter-text{
  background-image: url(assets/text_letter.svg)
}

/*hide and show letters on clicks*/
.show{
  display: block;
}
.hide{
  display: none;
}

.asset_200{
  width:100%;
  height:200px;
  display: inline-block;
  background-repeat:no-repeat;
}

.asset_400{
  width:100%;
  height:200px;
  display: inline-block;
  background-repeat:no-repeat;
}

.refresh{
  position:fixed;
  margin-top:200px;
  right: 30%;
  width:40px;
}
@media(max-width: 750px){
  .refresh{
    right:5%;
  }
}

/*@media(min-width:600px; max width:800px){
  .refresh{
    right:12%;
  }
}*/

.about_button{
  background-color: #C77174;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Apercu";
  font-size: 10pt;
}

/******Reduce size of header on scroll****/
header.large{height: 150px;}
header.small{margin-top:-100px;}
header,nav{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}


/*/////////Responsive Grid///////////*/
/*Grid for mobile*/
/*Full width at under 650px */
/*@media only screen and (min-width: 650px) {
	.container {
    width: 400px;
		margin-left: auto;
    margin-right: auto;
	}
}
@media only screen and (max-width: 650px) {
	.container { width: 100%; }
}*/
