@font-face {
    font-family: 'ace_liftregular';
    src: url('ace_lift-webfont.woff2') format('woff2'),
         url('ace_lift-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
