/*BACKGROUND GRADIENT*/
@import 'fonts';
body{
  color: #000;
  background-color: #white;
  height:100%;
  margin:0;
  padding:0;
  background: -webkit-linear-gradient(#D3D3D3, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#D3D3D3, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#D3D3D3, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#D3D3D3, rgba(255,255,255,1)); /* Standard syntax */
}
/*UNIVERSAL STYLES*/
/*text styles*/
a, li, p, h1, h2, h3, h4, h5, h6, body{
	font-family:'GT America';
}
li a{
  color: black;
  text-decoration:none;
}
/*clears*/
.clear{
  clear:both;
}
/*fit images to boundary*/
.scale_down{
  background-size: scale-down;
}
/*HEADER AND TOP NAV*/
#logo{
  height: 70px;
  float:left;
  margin-left: 20px;
  margin-top: 20px;
}
.header-container{
  width:80%;
  margin-left: 0;
  margin-right: 0;
}
header{
  width:100%;
  right:0;
  top:0;
  position: fixed;
  background: #D3D3D3; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#D3D3D3, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#D3D3D3, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#D3D3D3, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#D3D3D3, rgba(255,255,255,1)); /* Standard syntax */
  border-bottom:1px solid black;
  z-index:100;
}
header.large{height:auto;}
header.small{margin-top:-120px;}
header,nav{
  transition: all 1s;
  -moz-transition: all 1s; /* Firefox 4 */
  -webkit-transition: all 1s; /* Safari and Chrome */
  -o-transition: all 1s; /* Opera */
}
/*nav elements*/
//for media query, remove top margin and padding and clear after each li item
.top-nav{
	margin-left:50px;
}
.top-nav li{
  padding-top:100px;
  float:left;
	display:inline-block;
  text-decoration:none;
	font-size: 12pt;
  // font-family:'GT-America';
  /*spacing*/
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  }
  /*positioning*/
ul.top-nav{
  float:left;
  margin-bottom:5px;
}
  /*text styling*/
ul.top-nav li:nth-of-type(2) a:hover{
		color: #3524d3;
	}
ul.top-nav li:nth-of-type(2):hover{
	background-image: url("../assets/configurate.svg");
	background-repeat:no-repeat;
	background-size: 60px;
	background-position: 55px;
}
ul.top-nav li:nth-of-type(3) a:hover{
	color:#0088e3;
	}
ul.top-nav li:nth-of-type(3):hover{
	background-image: url("../assets/closet.svg");
	background-repeat:no-repeat;
	background-size: 60px;
	background-position: 47px;
}
ul.top-nav li:nth-of-type(4) a:hover{
	color:#64f0f4;
	}
ul.top-nav li:nth-of-type(4):hover{
	background-image: url("../assets/retail.svg");
	background-repeat:no-repeat;
	background-size: 50px;
	background-position: 55px;
}
ul.top-nav li:nth-of-type(5) a:hover{
	color:#1cf479;
	}
ul.top-nav li:nth-of-type(5):hover{
	background-image: url("../assets/online.svg");
	background-repeat:no-repeat;
	background-size: 50px;
	background-position: 40px;
}
ul.top-nav li:nth-of-type(6) a:hover{
	color:#FFE840;
	}
ul.top-nav li:nth-of-type(6):hover{
	background-image: url("../assets/about.svg");
	background-repeat:no-repeat;
	background-size: 45px;
	background-position: 37px;
}
ul.top-nav li:nth-of-type(7) a:hover{
	color:#ff751a;
	}
ul.top-nav li:nth-of-type(7):hover{
	background-image: url("../assets/connect.svg");
	background-repeat:no-repeat;
	background-size: 50px;
	background-position: 45px;
}
/*SIDE NAV*/
.side-nav{
	float:right;
  display: block;
  clear:right;

}
.side-nav li{
	float:left;
  text-decoration:none;

}
.side-nav li a{
	color:#3542d3;
}

.button{
	display:inline-block;
	cursor:pointer;
	float:left;
	font-family:"GT America";
	font-size:14px;
	margin-right: 20px;
	text-decoration:none;
}
.greeting{
	float:left;
	color:#black;
	font-family:"GT America";
	font-size:14px;
	margin-right: 20px;
	text-decoration:none;
}
  /*search bar*/
input#search{
	height:20px;
	width:150px;
	font-size:10px;
	font-family:"GT America";
	background-color:#DBDBDB;
  padding-left:5px;
  margin-right:20px;
  margin-top:89px;
  margin-bottom:5px;
  border: .5px solid #C1C1C1;
}
.bottom-nav{
  width:100%;
  height:100px;
  bottom:0;
  margin-top:50px;
  background-color:#d4d4d4;
  float:left;
}
.bottom-nav li{
  display:inline-block;
}
